.app {
  margin: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.drop-downs {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
  margin-bottom: 5rem;
}

.image-grid {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

select {
  font-size: 1.2rem;
  padding: 0.5rem;
}